body {
    padding: 0;
    margin: 0;
}

.el-scrollbar .el-scrollbar__wrap {
    /*写在这里才有效*/
    overflow-x: hidden !important;
}

.date {
    color: lightgray;
}

.from {
    text-align: right;
}

.receive {
    text-align: left;
}